
#flash_link_icon_form {
	display: inline;
	margin: 0; padding: 0; border: 0;
	text-align: center;
}

#flash_link_icon_form button {
	margin: 0; padding: 0; border: 0;
	background: transparent;
	font-size: .8em;
	color:#006699;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
