
html {
	height: 100%;	width: 100%; margin:0; padding:0; border:0;
	background: transparent;
	text-align: center;	vertical-align: middle;
}

body {
	height: 100%;	width: 100%; margin:0; padding:0; border:0;
	background: transparent;
	text-align: center;	vertical-align: middle;
}

#FlashFilter {
	height: 100%; margin:0 auto; padding:0; border:0;
	background: transparent;
  text-align: center;	vertical-align: middle;	
}

#FlashFilter td {
	margin:0; padding:0; border:0;
	line-height:100%;
	background: transparent;
  text-align: center;	vertical-align: middle;	
}

#FlashBack {
	text-align: left;
}

a, a:visited, a:hover {
	color:#006699;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: .7em;
	font-weight: 100;
}